<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/dist/css/style.css">
</head>
<body>
    <div>
        <nav>
            <ul>
               <a href="#"><li>Home</li></a> 
                <a href="user_index"><li>User</li></a>
                <a href={{type1}}><li>{{type}}</li></a>
                <a href="sign_up"><li>SignUp</li></a>
            </ul>
        </nav>
    </div>
    <div style="padding-top: 90px;"></div>

    



</body>
</html>